#app {
  margin-top: 60px;
  text-align: center;
  font-size: 40px;
  font-family: Dosis, Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#preact-logo {
  width: 200px;
  margin-bottom: -80px;
}
#amber-logo {
  width: 55px;
  position: relative;
  bottom: 74px;
}
